<!-- <% content_for :head do %>
  <meta property="og:type"   content="todo:post" />
  <meta property="og:url"    content="http://sagar-todo.herokuapp.com" />
  <meta property="og:title"  content="Ruby on Rails By Sagar" />
  <meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
<% end %> -->
<div class="mdl-layout__tab-panel">
  <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
      <h3>Login</h3>
      <%= form_for(:session, url: login_path) do |f| %>
      <div class="group">
        <%= f.text_field :username, :autocomplete => :off %><span class="highlight"></span><span class="bar"></span>
        <%= f.label :username %>
      </div>
      <div class="group">
        <%= f.password_field :password,  :autocomplete => :off%><span class="highlight"></span><span class="bar"></span>
        <%= f.label :password %>
      </div>
        <%= f.submit "Log in",class: "button buttonBlue" %>
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      <% end %>

    </div>
  </section>
</div>
