<h1>Edit task</h1>

<%= form_for @task do |f| %>
  <%= f.label :user %>:
  <%= f.collection_select :user_id,User.all, :id, :username %><br />

  <%= f.label :task %>:
  <%= f.text_field :task %><br />

  <%= f.submit %>
<% end %>
